<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>descartes-sandbox</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="style/descartes.js"></script>
</head>

<nav class="container">
  <ul class="row">
    <li class="col nav-title">descartes-sandbox</li>
  </ul>
</nav>

<main class="container">
  <ul class="row">
    
    <li class="col cat">
      <span class="delete"><i class="material-icons close">close</i></span>
      <img src="img/cat1.jpg" class="responsive-img"
      ></li>
    
    <li class="col cat">
      <span class="delete"><i class="material-icons close">close</i></span>
      <img src="img/cat2.jpg" class="responsive-img"
      ></li>
    
    <li class="col cat">
      <span class="delete"><i class="material-icons close">close</i></span>
      <img src="img/cat3.jpg" class="responsive-img"
      ></li>
    
    <li class="col cat">
      <span class="delete"><i class="material-icons close">close</i></span>
      <img src="img/cat4.jpg" class="responsive-img"
      ></li>
    
    <li class="col cat">
      <span class="delete"><i class="material-icons close">close</i></span>
      <img src="img/cat5.jpg" class="responsive-img"
      ></li>
    
    <li class="col cat">
      <span class="delete"><i class="material-icons close">close</i></span>
      <img src="img/cat6.jpg" class="responsive-img"
      ></li>
    
  </ul>
</main>

<footer class="container">
  <ul class="row">
    <li class="col copyright">©2016 nekonyan.</li>
  </ul>
</footer>
<script src="js/main.js"></script>
</body>
</html>

