<main class="container">
  <ul class="row">
    <% for(var i = 1; i < 7; i++) { %>
    <li class="col cat"><span class="delete">消す</span><img src="img/cat<%= i %>.jpg" class="responsive-img"></li>
    <% } %>
  </ul>
</main>
